@mixin first-heading-font {
  font-size: 70px;
  font-weight: 300;
}

@mixin heading-font {
  font-size: 30px;
  font-weight: 700;
}

@mixin heading-medium-font {
  font-size: 24px;
  font-weight: 700;
}

@mixin content-font {
  font-size: 15px;
  font-weight: 300;
}

@mixin menu-font {
  font-size: 18px;
  font-weight: 400;
}
