$main-color: #ffffff;
$secondary-color: #dd4b2b;
$ad-color: #4b4e73;
$content-text-color: #31353e;
$ad-text-color: #191b29;
$heading-font: "Roboto Slab", serif;
$content-text-font: Roboto, sans-serif;


